.App {
  padding-top: 102px;
  display: flex;
  justify-content: space-around;
}

#error {
  display: none;
}

@media screen and (max-width: 769px) {
  .App {
    padding-top: 330px;
    flex-direction: column;
    justify-content: space-between;
  }

  #login {
    display: flex;
    flex-direction: column;
  }

  #registration {
    display: flex;
    flex-direction: column;
  }
}