#playDiv {
  padding-top: 50px;
}

#scoreUl {
  display: flex;
  justify-content: space-around;
}

#currentWord {
  color: #222831;
  text-align: center;
  margin: auto;
  width: 30%;
  border-bottom: 3px solid #71C9CE;
  padding: 10px;
}

#gameButtons {
  display: flex;
  justify-content: center;
}

#checkButton {
  width: 320px;
  height: 54px;
  font-size: 20px;
}

#gameInfo {
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size: large;
}

#addWordInput {
  width: 164px;
}

@media screen and (max-width: 769px) {
  #playDiv {
    padding-top: 330px;
    padding: 0px;
    padding-top: 330px;
  }

  #scoreUl {
    flex-direction: column;
    text-align: center;
    padding: 0px;
    justify-content: flex-start;
  }

  #currentWord {
    color: #222831;
    text-align: center;
    left: 0px;
    width: 90%;
    border-bottom: 3px solid #71C9CE;
    padding: 0px;
  }

  #gameButtons {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
  }

  #checkButton {
    width: 250px;
    height: 54px;
    font-size: 20px;
  }

  #gameInfo {
    padding-top: 0px;
  }

  #addWord {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}