#userList {
  padding-top: 50px;
  padding-left: 0px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
}

#userItem {
  padding: 0px;
  width: 30%;
  background-color: #71c9ce72;
}

#userItems {
  padding: 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-left: 3px solid #71C9CE;
  border-bottom: 3px solid #71C9CE;
}

@media screen and (max-width: 769px) {
  #userList {
    padding-top: 330px;
    padding-left: 0%;

  }

  #userItem {
    width: 100%;
  }
}